# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.envrc
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/
.pdm-python
.pdm-build/
uv.lock
ml4rs-kaggle-code.zip

# Testing
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/

# Notebooks
.ipynb_checkpoints/
notebooks/
!notebooks/
notebooks/*
!notebooks/kaggle_fullframe_diffusion_training.ipynb

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Reports
reports

# Unet Large weights
outputs/models/unet_large_final.pth

docker
.dockerignore
tools
