# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.envrc
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/
.pdm-python
.pdm-build/
uv.lock

# Testing
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/

# Notebooks
.ipynb_checkpoints/
notebooks/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Reports
reports

# Unet Large weights
outputs/models/unet_large_final.pth
